<h2><b>WiFi Network Scan</b></h2>
<table border="1">
    <tr>
        <th>SSID</th>
        <th>Signal Strength (dBm)</th>
        <th>Channel</th>
        <th>Frequency (MHz)</th>
        <th>Security</th>
    </tr>
    {% for net in networks %}
    <tr>
        <td>{{ net.ssid }}</td>
        <td>{{ net.signal_strength }}</td>
        <td>{{ net.channel }}</td>
        <td>{{ net.frequency }}</td>
        <td>{{ net.security }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No networks found</td></tr>
    {% endfor %}
</table>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
